@import "./base.css";

body {
  transition:
    color 0.5s,
    background-color 0.5s;
  background-color: #2C3639;
  font-size: 15px;
  font-family:
  Inter,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif;

}

a{
  color: #DCD7C9;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  color: #DCD7C9;
}

